ul.navul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.navul > li {
    float: left;
}

ul.navul > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.ocultar{
    visibility: hidden;
}

.fixed{
    position: absolute;
    top: 60px;
    width: 100%;
}